body {
    background: silver;
    font: 14px 'trebuchet ms', arial, sans-serif;
    margin: auto;
    padding: 0.5em;
/*    width: 80em;*/
}

body, html {
  height: 100%;
}
/** Structure */
#header {
    padding: 1em ;
    padding-bottom: 2em;
    height: auto;
    background: #6fac43   ;
    /*background: #436fac   ;*/
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 4px solid   #8add4d;
}
#title {
    padding: 0.4em;
    font-size: 2em;
    text-align: center;
}

#content {
    background: #fff;
    padding: 2em;
}

#footer {
/*    background: #436fac;*/
    background: #6fac43;
    color: #fff;
    padding: 1em;
    border-top: 4px solid #8add4d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.9em;
    text-align: center;
}

/* Links */
#header a {
    color: #fff;
    /*background: #234f8c;*/
    background: #4f8c23;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
}

#header a:hover {
/*    background: #4d8add*/
    background: #8add4d
}

#content a, span  {
    /*color: blue;*/
    color: orange;
    /*background: #ccf;*/
    background: #cfc;
    border: #bbe solid 1px;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
}
#content, span.current  {
    /*color: blue;*/
    background: #fff;
/*    padding: 4px 15px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;*/
}

#content a:hover, span:hover {
    background: greenyellow;
    /*background: orange;*/
}

#pageIndex {
    padding-top: 2em;
}   
    
/** Forms */
form {
    font: 100% verdana,arial,sans-serif;
}

form label { 
    display: block;
    float: left; 
    width: 150px; 
    padding: 0; 
    margin: 9px 0 0;
    text-align: right; 
}

form input, form select {
    width: 15em;
    margin: 5px 0 0 10px;
    border: 1px solid gray;
    padding: 4px;
}

form input[type=submit]:hover {
    cursor: pointer;
    background: silver;
}

input.cell{
    width: 100%;
    /*padding: 8px;*/
    padding-bottom: 8px;
    padding-top: 8px;
    background: transparent;
    border: transparent;
}

tr.cell td.cell {
    padding: 0px;
}
form br {clear: left;}
input:focus {
    background-color: #f7e741;
    /*background-color: #436fac;*/
    /*font-weight:  bolder;*/
    /*background-color: orangered;*/
    
}

div.boton{
    margin-right: 3px;
    /*background:  #234f8c;*/
    background:  #4f8c23;
    width: 5em;
    float: left;
    border: solid black 1px;
    text-align: center; 
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table {
    border-collapse: collapse;
    width: 100%;
}

/*tfoot{
    background-color: #638fcc;    
    color: white;
}*/
tr td{
    border-bottom: 1px solid #ddd;    
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    /*background-color: #638fcc;*/    
    background-color: #8fcc63;    
    color: white;
}

 tr:hover {background-color: #beb}
 
 span.error{
    color: red;
    font-size: 50%;
 }