{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <br>
    Estamos en el lista de pedidos
    <br>
    Método: 
</div>
{include file="template/footer.tpl" title="footer"}